<h1>Got feels? We'll make you a bagel!</h1>

<h3>Just tell us how you're feeling, and we'll create the perfect bagel to improve your day.</h3>

<h4>How are you feeling?</h4>

<form action="/response" method="POST">
  <textarea rows="4" cols="45" name="response[answer]" tabindex="1"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>



